* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

i,
svg {
  pointer-events: none;
}

.kick-pad,
.snare-pad,
.hihat-pad {
  width: 5rem;
  height: 5rem;
  margin: 1rem 0.5rem;
  cursor: pointer;
}

.kick-pad {
  background: rgb(165, 165, 243);
}

.snare-pad {
  background: rgb(245, 171, 171);
}

.hihat-pad {
  background: rgb(177, 236, 190);
}

.kick-pad.active {
  background: rgb(38, 38, 241);
}

.snare-pad.active {
  background: rgb(240, 64, 64);
}

.hihat-pad.active {
  background: rgb(42, 243, 86);
}

.mute.active {
  background: rgb(173, 173, 173);
}

.sequencer {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: radial-gradient(rgb(253, 253, 253), rgb(153, 153, 153));
}

.hihat-track,
.snare-track,
.kick-track {
  display: flex;
  align-items: center;
  width: 70%;
  justify-content: space-between;
  margin-top: 5rem;
}

.kick,
.snare,
.hihat {
  display: flex;
}

.controls {
  display: flex;
  min-width: 20rem;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  margin: 0rem 2rem;
}

.controls button {
  padding: 0.4rem;
  border: none;
  background: rgb(77, 77, 77);
  color: white;
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.5s ease;
}

.pad {
  transition: all 0.5s ease;
  border: 3px solid rgb(63, 63, 63);
  border-radius: 20px 0px 20px 0px;
}

.play {
  padding: 1rem 5rem;
  font-size: 1.5rem;
  background: rgb(77, 77, 77);
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 5rem;
}

select {
  padding: 0.6rem;
  font-size: 1rem;
  cursor: pointer;
}

.tempo {
  margin: 3rem;
  width: 30%;
}

.tempo-slider {
  padding: 0.1rem;
  -webkit-appearance: none;
  margin: 1rem 0rem;
  width: 100%;
  position: relative;
  background: rgb(77, 77, 77);
  cursor: pointer;
  border-radius: 1rem;
}

.tempo p {
  font-size: 1.5rem;
  margin: 0.3rem;
  text-align: center;
}

@keyframes playTrack {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.4);
  }
}

h2 {
  text-align: center;
  margin-bottom: 1rem;
}

.titel {
  text-align: center;
  font-size: 3rem;
  margin: 2rem;
}
